* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2, 7em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1, 20em;
}

p {
  font-size: 1, 25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

header {
  background-color: rgba(4, 87, 129, 0.178);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo{
  padding: 20px;
  width: 100%;
  height: auto;
}

#navbutton{
  color: black;
}

#navbutton:hover{
  color: rgb(4, 87, 129);
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  margin: 20px;
  background-clip: padding-box;
  text-align: center;
}

.content{
  color: #FFF;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: rgb(4, 87, 129);
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(4, 87, 129);
  border-radius: 0px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #FFF;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.popup .close:hover {
  color: rgb(4, 87, 129);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 1395px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media screen and (max-width: 655px){
  .box{
    width: 200%;
  }
  .popup{
    width: 100%;
  }
}

@media screen and (max-width: 433px){
  .box{
    width: 250%;
  }
  .popup{
    width: 100%;
  }
}

@media screen and (max-width: 379px){
  .box{
    width: 300%;
  }
  .popup{
    width: 100%;
  }
}

@media screen and (max-width: 360px){
  .box{
    width: 400%;
  }
  .popup{
    width: 100%;
  }
}

.cajaMain{
  width: 70%;
}

.slogan{
  font-style: italic;
  font-weight: 600;
  color: rgb(4, 87, 129);
}

.hpv{
  width: 200px;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-item{
  border: 1px black solid;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
}

.cajaContenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: auto;
  height: auto;
  margin-bottom: 70px;
}

.logoIndex{
  width: 40%;
  height: auto;
}

.textoIndex{
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
}

.titulos{
  width: auto;
  background-color: rgb(4, 87, 129);
  border-radius: 2px;
  padding: 5px;
  color: #FFF;
  margin: 20px 25px;
}

.fondoLogo{
  background-color: rgba(4, 87, 129, 0.178);
  border: black 2px solid;
  width: auto;
  height: auto;
  padding: 20px;
}

.textologoIndex{
  width: 100%;
  height: auto;
}

.textologoIndex:hover{
  transform: scale(103%);
}

.mapa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 87, 129);
  width: 100%;
  padding-top: 30px;
}

.tituloContacto{
  font-size: 3rem;
  color: #FFF;
}

.fondoContacto{
  background-image: url(../img/fondoContacto.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  margin-left: 20px;
  width: 100%;
  height: auto;
}

.infoContacto{
  background-color: #FFF;
  border: black solid 2px;
  padding: 5px;
  font-size: x-large;
  font-weight: 500;
}

.bolsas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  margin: 20px;
  margin-bottom: 40px;
  background-color: rgba(4, 87, 129);
  border: black 8px solid;
  border-radius: 50px;
}

.tituloBolsas{
  color: #dfdede;
}

.bolsa{
  width: 70%;
}

.bolsa:hover{
  transform: scale(103%);
}